<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buscado Pokémon</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<table class="styled-table">
    <thead>
    <tr>
        <th></th>
        <th>POKÉDEX</th>
        <th>NOMBRE</th>
        <th>HABILIDAD</th>
        <th>TIPOS</th>
    </tr>
    </thead>
    <tbody id="printarPokemon"></tbody>
</table>
<div id="buscador">
    <input id="pokemon" type="text" placeholder="introduce Pokémon"/>
</div>
<div>
    <button id="button">Busca!</button>
</div>
<script src="../js/app.js"></script>
</body>
</html>